@font-face {
    font-family: 'MinecraftFont';
    src: url('assets/Minecraft.ttf') format('truetype');
  }
  
  body {
    font-family: 'MinecraftFont', sans-serif;
  }
  
.center{
    display:flex;
    justify-content: center;
    align-items:  center;
    position:  absolute;
    top: 5%;
    left: 15%;
}